<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- <link rel="shortcut icon" type="image/png" href="/static/img/nba.png" />-->
      <title>Space FM</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/index2.css">
      <link rel="stylesheet" href="/static/css/default.css">
  </head>

  <body>

    <!-- Main container -->
    <div class="container-fluid">

      <!-- Header -->>
      <header class="row">
        <div class="col p-4 has-border">
          <h1 class="title">Welcome to Space FM Radio Station</h1>
        </div>
      </header>

      <!-- Main content -->
      <main class="row">

        <!-- Status Panel -->
        <div class="col p-3 has-border">
          <h3 class="title mb-5">Status</h3>
          <br>
          <p id="frequencyInfo" class="title"></p>
          <p id="songInfo" class="title"></p>
          <div class="d-flex justify-content-center align-content-center has-border">
            <p id="statusInfo" class="title"></p>
            <button id="powerBtn" type="button" class="btn" name="powerBtn">
              <i class="fas fa-power-off fa-lg"></i>
            </button>
          </div>
        </div>

        <!-- Songs Panel -->
        <div class="col p-3 has-border">
          <h3 class="title mb-5">Songs</h3>
          <div>
            <!--
            <ul id="list" class="list-group songs-panel">
                {% for x in canciones %}
                <li class="list-group-item">
                  <div id="songItem" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{x.id}}" name="{{x.name}}">
                    <label class="custom-control-label" for="{{x.id}}">{{x.name}}</label>
                  </div>
                </li>
                {% endfor %}
            </ul>
            -->
            <ul id="list" class="list-group songs-panel"></ul>
            <br>
            <div class="d-flex justify-content-center has-border">
              <button id="selectAllBtn" type="button" class="btn btn-light m-2">Select All</button>
              <button id="deleteBtn" type="button" class="btn btn-danger m-2">Delete</button>
              <button id="uploadBtn" type="button" class="btn btn-primary m-2">Upload
                <span id="spinner" class="spinner-border spinner-border-sm"></span>
              </button>
            </div>
            <div id="">
              <form enctype="multipart/form-data" id="uploadsongs" method="post">
                  <input type="file" multiple="" id="file1" name="file1"/>
                  <br />
                  <!-- <input type="submit" value="Subir archivos"/> -->
                </form>
            </div>


          </div>
        </div>

      </main>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/control.js"></script>

  </body>

</html>
