body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.logo{
    height: 100px;
    margin-bottom: 10px;
}

.jumbotron.custom{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: rgba(233, 236, 239, .3);
    color: white;
}
