body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

input {
  color: white;
}

.title {
  color:white;
  text-align: center;
  font-weight: bold;
}

.songs-panel {
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
}

.has-border {
  border: 1px white solid;
}
